# Official framework image. Look for the different tagged releases at:
# https://hub.docker.com/r/library/node/tags/
image: node:latest

# This folder is cached between builds
# https://docs.gitlab.com/ee/ci/yaml/index.html#cache
cache:
  paths:
    - node_modules/

stages:
  - build

build:
  stage: build
  rules:
    - if: $CI_COMMIT_TAG
    - if: $CI_JOB_MANUAL
  script:
    - yarn install --frozen-lockfile --production
    - yarn build
  artifacts:
    paths:
      - dist/hero-forge-reck.user.js
