:root {
    --ReCK-sidebar-width-closed: 25px;
    --ReCK-sidebar-width-opened: 500px;
}

.ReCK-version-tag {
    position: absolute;
    left: 195px;
    top: 15px;

    font-family: monospace;
    font-size: 14px;
}

@media (max-width: 743px) {
    .ReCK-version-tag {
        left: 48px;
    }
}

.ReCK-sidebar {
    position: absolute;
    top: 0px;
    left: calc(var(--ReCK-sidebar-width-closed) - var(--ReCK-sidebar-width-opened));
    z-index: 3;

    width: var(--ReCK-sidebar-width-opened);
    height: 100%;

    background-color: #2c2a28;
    box-shadow: #2c2a28 0px 0px 6px;

    transition: left 300ms ease;
}

.ReCK-sidebar.ReCK-opened {
    left: 0px;
    z-index: 1000;
}

.ReCK-sidebar ~ #root {
    width: calc(100% - var(--ReCK-sidebar-width-closed));
    margin-left: var(--ReCK-sidebar-width-closed);
}
