:root {
  --ReCK-sidebar-width-closed: 24px;
  --ReCK-sidebar-width-opened: 640px;

  --ReCK-ease-out-function: cubic-bezier(0.165, 0.84, 0.44, 1);

  --ReCK-background-color: #2c2a28; /* Same color as the Hero Forge header. */
  --ReCK-foreground-color: #f1f1f1; /* Same color as the Hero Forge header. */

  --ReCK-secondary-color: rgba(255, 255, 255, 0.5);
  --ReCK-divider-color: rgba(255, 255, 255, 0.1);
  --ReCK-hover-color: rgba(255, 255, 255, 0.05);

  --ReCK-focus-color-opaque: #3e5a65;
  --ReCK-selection-color: rgba(44, 193, 255, 0.1);

  --ReCK-editor-selection-match-color: rgba(144, 255, 0, 0.05);

  --ReCK-editor-tooltip-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24); /* Material design card shadow. */
}

.ReCK-version-tag {
  position: absolute;
  left: 195px;
  top: 15px;

  font-family: monospace;
  font-size: 14px;
}

@media (max-width: 743px) {
  .ReCK-version-tag {
    left: 48px;
  }
}

.ReCK-sidebar {
  position: absolute;
  top: 0px;
  left: calc(
    var(--ReCK-sidebar-width-closed) - var(--ReCK-sidebar-width-opened)
  );
  z-index: 10;

  width: var(--ReCK-sidebar-width-opened);
  height: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: row-reverse;

  color: var(--ReCK-foreground-color);
  font-family: monospace;

  background-color: var(--ReCK-background-color);
  box-shadow: var(--ReCK-background-color) 0px 0px 6px;

  transition: left 300ms var(--ReCK-ease-out-function);
}

.ReCK-sidebar.ReCK-opened {
  left: 0px;
}

/* NOTE: This should be kept in sync with the --ReCK-sidebar-width-opened variable. */
@media (max-width: 640px) {
  .ReCK-sidebar {
    width: 100vw;
    left: calc(-100vw + var(--ReCK-sidebar-width-closed));
  }
}

.ReCK-sidebar,
.ReCK-sidebar * {
  box-sizing: border-box;
}

.ReCK-sidebar ~ #root {
  width: calc(100% - var(--ReCK-sidebar-width-closed));
  margin-left: var(--ReCK-sidebar-width-closed);
}

.ReCK-sidebar .rippleJS .ripple {
  background-color: rgba(255, 255, 255, 0.25);
}

.ReCK-sidebar-handle {
  position: relative;
  width: calc(var(--ReCK-sidebar-width-closed) + 1px);

  background-color: rgba(255, 255, 255, 0);

  border-left: 1px solid var(--ReCK-divider-color);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transition: background-color 100ms var(--ReCK-ease-out-function);
}

.ReCK-sidebar-handle:hover, .ReCK-sidebar-handle:active {
  background-color: var(--ReCK-hover-color);
}

.ReCK-sidebar-handle .ReCK-icon {
  fill: var(--ReCK-secondary-color);
  transform: rotate(0deg);
  transition: transform 300ms var(--ReCK-ease-out-function);
}

.ReCK-opened .ReCK-sidebar-handle .ReCK-icon {
  transform: rotate(180deg);
}

.ReCK-sidebar-content {
  flex-grow: 1;

  max-width: calc(
    var(--ReCK-sidebar-width-opened) - var(--ReCK-sidebar-width-closed) - 1px
  );

  display: flex;
  flex-direction: column;
}

/* NOTE: This should be kept in sync with the --ReCK-sidebar-width-opened variable. */
@media (max-width: 640px) {
  .ReCK-sidebar-content {
    max-width: calc(100vw - var(--ReCK-sidebar-width-closed) - 1px);
  }
}

.ReCK-header {
  height: 40px;

  padding: 0px 24px;

  display: flex;
  flex-direction: row;
  align-items: center;

  border-top: 1px solid transparent;
  border-bottom: 1px solid var(--ReCK-divider-color);
}

.ReCK-header-title {
  color: var(--ReCK-foreground-color);
  font-family: monospace;
  font-size: 14px;
}

.ReCK-logo {
  font-family: monospace;
  font-weight: bold;
  font-size: 24px;
}

.ReCK-json-codemirror {
  flex-grow: 1;
}

.ReCK-json-codemirror .cm-editor {
  width: 100%;
  height: 100%;
}

.ReCK-json-codemirror .cm-scroller {
  overflow: auto;
}

.ReCK-json-codemirror .cm-editor {
  outline: 1px solid transparent;
  transition: outline-color 100ms var(--ReCK-ease-out-function);
}

.ReCK-button-panel {
  height: 48px;

  padding-right: 16px;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  border-top: 1px solid var(--ReCK-divider-color);
  border-bottom: 1px solid transparent;
}

.ReCK-button-panel > .ReCK-button {
  margin-left: 16px;
}

.ReCK-button {
  position: relative;
  height: 36px;

  padding: 0px 16px;

  display: flex;
  align-items: center;
  overflow: hidden;

  /* This is not 'transparent' to avoid potential issues transitioning
     from transparent black to translucent white. */
  background-color: rgba(255, 255, 255, 0);

  color: var(--ReCK-foreground-color);
  font-family: monospace;
  font-weight: bold;

  border: 1px solid var(--ReCK-divider-color);
  border-radius: 2px;
  outline: none;

  transition: 100ms var(--ReCK-ease-out-function);
  transition-property: background-color, border-color;
}

.ReCK-button:focus {
  border-color: var(--ReCK-focus-color-opaque);
  outline: none;
}

.ReCK-button:hover, .ReCK-button:active {
  background-color: var(--ReCK-hover-color);
}

.ReCK-button > .ReCK-icon {
  margin-right: 12px;
  fill: var(--ReCK-foreground-color);
}
